:host, [theme ~= dark] {
    --material-background-color: #121212;
    --material-secondary-background-color: #1f1f1f;
    --material-tertiary-background-color: #1d1d1d;
    --material-primary-color: rgb(95, 151, 246);
    --material-primary-text-color: var(--material-primary-color);
    /* TODO: base this of primary color */
    --material-primary-color-transparent: rgba(95, 151, 246, 0.09);
    --_material-split-layout-splitter-background-color: var(--material-secondary-background-color);
}

*, body {
    scrollbar-width: thin;
    scrollbar-color: var(--material-primary-color) var(--material-tertiary-background-color);
}

*::-webkit-scrollbar, body::-webkit-scrollbar {
    width: 6px;
}

*::-webkit-scrollbar-thumb, body::-webkit-scrollbar-thumb {
    background-color: var(--material-primary-color);
}

*::-webkit-scrollbar-track, body::-webkit-scrollbar-track {
    background-color: var(--material-tertiary-background-color);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.sidebar {
    background-color: var(--material-secondary-background-color);
    padding: 0px;
}

.mono_font {
    font-family: 'Roboto Mono', monospace;
}

vaadin-tab[selected][orientation=vertical] {
  background: var(--material-primary-color-transparent);

}

vaadin-tab[orientation=vertical]:hover {
    border-left-color: red;
    border-left-width: 2px;
}

vaadin-form-item span {
  display: inline-block;
  width: 100%;
  max-width: 150px;
  padding: 10px 30px 10px 30px;
  border-radius: 8px;
  position: relative;
  top: 5px;
  box-shadow: inset 0px 0px 20px 0px rgba(0,0,0,0.50);
}

vaadin-text-field, vaadin-password-field {
  box-shadow: inset 0px -20px 20px -20px rgba(0,0,0,0.75);
}

vaadin-login-form-wrapper {
  background: var(--material-tertiary-background-color);
  border-radius: 5px;
}

H1, H2, H3, H4 {
  margin: 0.4em 0px;
}

.accountinfo {
  position: absolute;
  padding: 1em;
  top: 40px;
  right: 10px;
  border-radius: 5px;
  border-color: var(--material-primary-color);
  background: var(--material-secondary-background-color);
  box-shadow: var(--material-shadow-elevation-4dp);
  opacity: 0;
  animation-name: example;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

@keyframes example {
  from {opacity: 0;top:40px;}
  to {opacity: 1;top:80px;}
}

.clickhack {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

.lettericon {
  background: var(--material-primary-color);
  user-select: none;
  border-radius: 0.8em;
  display: inline-block;
  line-height: 1.6em;
  text-align: center;
  width: 1.6em; 
  font-size: var(--material-h2-font-size);
  box-shadow: inset 5px 7px 38px -5px rgba(0,0,0,0.50);
  margin: 0px 16px;
}

.projectlist {
    overflow: auto;
}

.projectitem:hover {
    background: #3a3a3a;
}

.projectitem {
    align-items: center;
    transition: 0.2s;
    background: #2c2c2c;
    height: fit-content;
    width: 100%;
    border-radius: 15px;
    user-select: none;
    box-shadow: var(--material-shadow-elevation-4dp);
}

.projectitem-large {
    padding: 10px;
}

.projectitem-small {
  padding: 13px 0px 13px 10px;
}

.userprofile {
  background-color: var(--material-secondary-background-color);
  max-width: 800px;
  height: 100%;
}

.taskBlock {
    background: var(--material-tertiary-background-color);
    box-shadow: var(--material-shadow-elevation-4dp);
    border-radius: 5px;
  transition: 0.5s;

  width: 400px;
  min-width: 400px;
  max-width: 400px;

  height: 260px;
  max-height: 260px;
  min-height: 260px;

  animation-name: fade;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.taskBlock:hover {
    transition: 0.2s;
    background: var(--material-secondary-background-color);
}

.tracking-detailed-pane {
    width: 100%;
    height: 100%;
    overflow: auto;
    background: var(--material-secondary-background-color);
    border-radius: 0px 5px 5px 0px;
    box-shadow: var(--material-shadow-elevation-4dp);
}

.tracking-topbar {
    width: 100%;
    background: var(--material-tertiary-background-color);
    border-radius: 5px;
    box-shadow: var(--material-shadow-elevation-4dp);
    padding: 5px;
    display: flex;
}

.tracking-topbar > div {
    flex: 1;
}

.tracking-topbar > div > * {
    position: relative;
    margin: 0px;
    vertical-align: 0px;
    top: 50%;
    transform: translateY(-50%);
}

.trackall-scroller {
    min-width: 300px;
    max-width: 500px;
    height: 100%;
    padding: 0px;
    background-color: #222222;
    border-radius: 5px 0px 0px 5px;
    overflow-y: scroll;
    scrollbar-width: 2px;
}

vaadin-tab[orientation = vertical] {
    border-bottom: solid black;
    border-bottom-width: 1px;
}

.recent-changes {
  width: 100%;
  max-width: 800px;
  height: fit-content;
  min-height: 400px;
  margin: 1em auto;
  border-radius: 5px;
  box-shadow: var(--material-shadow-elevation-4dp);
  background-color: var(--material-tertiary-background-color);
}

.link:hover {
  cursor: pointer;
  color: var(--material-primary-color);
  text-decoration: underline;
}
