:host, [theme ~= dark] {
  --material-background-color: #121212;
  --material-secondary-background-color: #1f1f1f;
  --material-tertiary-background-color: #1d1d1d;
  --material-primary-color: rgb(95,151,246);
  --material-primary-text-color: var(--material-primary-color);
  /* TODO: base this of primary color */
  --material-primary-color-transparent: rgba(95,151,246, 0.09)
}

.sidebar {
  background-color: var(--material-secondary-background-color);
  padding: 0px;
}

.mono_font {
  font-family: 'Roboto Mono', monospace;
}

vaadin-tab[selected][orientation=vertical] {
  background: var(--material-primary-color-transparent);
  border-top-right-radius: 1000px;
  border-bottom-right-radius: 1000px;

}

vaadin-tab[orientation=vertical]:hover {
  border-top-right-radius: 1000px;
  border-bottom-right-radius: 1000px;

}

vaadin-form-item span {
  display: inline-block;
  width: 100%;
  max-width: 150px;
  padding: 10px 30px 10px 30px;
  border-radius: 8px 8px 0px 0px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: var(--material-primary-color);
  position: relative;
  top: 5px;
  background: var(--material-tertiary-background-color);
}

vaadin-login-form-wrapper {
  background: var(--material-tertiary-background-color);
  border-radius: 5px;
}

H1, H2, H3, H4 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.accountinfo {
  position: absolute;
  padding: 1em;
  top: 40px;
  right: 10px;
  border-radius: 5px;
  border-color: var(--material-primary-color);
  background: var(--material-secondary-background-color);
  box-shadow: var(--material-shadow-elevation-4dp);
  opacity: 0;
  animation-name: example;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

@keyframes example {
  from {opacity: 0;top:40px;}
  to {opacity: 1;top:80px;}
}

.clickhack {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

.lettericon {
  background: var(--material-primary-color);
  user-select: none;
  border-radius: 0.8em;
  display: inline-block;
  line-height: 1.6em;
  text-align: center;
  width: 1.6em; 
  font-size: var(--material-h2-font-size);
  box-shadow: inset 5px 7px 38px -5px rgba(0,0,0,0.50);
}

.projectitem:hover {
  background: #3a3a3a;
}

.projectitem {
  transition: 0.2s;
  background: #2c2c2c;
  height: 50px;
  width: 100%;
  border-radius: 15px;
  padding: 0px 35px 0px 35px;
}

.userprofile {
  background-color: var(--material-secondary-background-color);
}
